<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"/></head>
<body>
<a href="/add"><h1>Add a New Message</h1></a><br />
<table>
    <tr>
        <th> Content </th>

        <th> Date </th>

        <th> Sender</th>

        <td>Actions</td>

    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.date}"></td>
        <td th:text="${message.sender}"></td>
        <td>
            <a th:href="@{/detail/{id}(id=${message.id})}">Details</a>
            <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>